.admin-page{

padding:40px;

min-height:100vh;

background:#07111d;

color:white;

}

.admin-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

margin-top:40px;

}

.admin-card{

background:#16263d;

padding:40px;

border-radius:20px;

cursor:pointer;

transition:.3s;

text-align:center;

}

.admin-card:hover{

transform:translateY(-6px);

background:#20344f;

}

.admin-card h1{

font-size:50px;

margin-bottom:20px;

}

.admin-card h2{

margin:0;

}