.ai-page{

padding:40px;

min-height:100vh;

background:#07111d;

color:white;

}

.lesson-context{

background:#16263d;

padding:20px;

border-radius:15px;

margin-bottom:25px;

}

.ai-page textarea{

width:100%;

height:180px;

padding:20px;

border:none;

outline:none;

border-radius:15px;

background:#17263b;

color:white;

font-size:15px;

resize:none;

}

.ai-page button{

margin-top:20px;

padding:16px 35px;

border:none;

border-radius:12px;

background:#3ea6ff;

color:white;

font-size:16px;

cursor:pointer;

}

.ai-answer{

margin-top:35px;

padding:25px;

background:#16263d;

border-radius:15px;

line-height:1.8;

}