.assignment-page{

padding:40px;

background:#07162f;

min-height:100vh;

color:white;

}

.assignment-card{

max-width:900px;

margin:auto;

background:#10243d;

padding:40px;

border-radius:20px;

}

.assignment-card h1{

margin-bottom:20px;

}

.assignment-card ul{

margin-top:30px;

padding-left:20px;

}

.assignment-card li{

margin-bottom:18px;

font-size:18px;

}

.assignment-footer{

margin-top:40px;

text-align:center;

}

.assignment-footer button{

margin-top:25px;

padding:15px 30px;

border:none;

border-radius:12px;

background:#3ea6ff;

color:white;

font-size:18px;

cursor:pointer;

}