*{

margin:0;

padding:0;

box-sizing:border-box;

}



html,
body,
#root{


width:100%;

min-height:100%;

background:#020617;

color:white;

font-family:

"Inter",
"Segoe UI",
sans-serif;


}



body{


overflow-x:hidden;


}



a{

color:inherit;

text-decoration:none;

}



button,
input,
select{


font-family:inherit;


}



img{


max-width:100%;

display:block;


}



/* REMOVE WHITE ROUTE FLASH */

main,
.app,
.page{


background:#020617;

min-height:100vh;


}



/* GLOBAL DARK SCROLLBAR */


::-webkit-scrollbar{

width:10px;

}



::-webkit-scrollbar-track{

background:#020617;

}



::-webkit-scrollbar-thumb{


background:#2563eb;

border-radius:20px;


}