.heroBadge{

display:flex;

align-items:center;

gap:12px;

padding:12px 22px;

background:rgba(56,189,248,.12);

border:1px solid rgba(56,189,248,.3);

border-radius:40px;

width:max-content;

color:#38bdf8;

font-weight:700;

margin-bottom:30px;

}


.heroBadge img{

width:38px;

height:38px;

object-fit:contain;

}




.hero-left span{

color:#38bdf8;

}



.heroLogoBox{

width:420px;

height:420px;

display:flex;

align-items:center;

justify-content:center;

background:

radial-gradient(circle,

rgba(56,189,248,.25),

transparent 70%);

border-radius:50%;

animation:float 5s infinite ease-in-out;

}



.heroLogoBox img{

width:280px;

height:280px;

object-fit:contain;

filter:

drop-shadow(0 20px 40px rgba(56,189,248,.4));

}




@media(max-width:900px){


.heroLogoBox{

width:260px;

height:260px;

}


.heroLogoBox img{

width:170px;

height:170px;

}

}
/* ==========================================
PREMIUM STATS
========================================== */

.premiumStats{

padding:120px 6%;

background:#071827;

position:relative;

overflow:hidden;

}

.sectionTitle{

text-align:center;

max-width:760px;

margin:auto;

margin-bottom:70px;

}

.sectionTitle span{

color:#38bdf8;

font-weight:700;

letter-spacing:2px;

font-size:14px;

}

.sectionTitle h2{

font-size:48px;

margin:18px 0;

color:white;

font-weight:800;

}

.sectionTitle p{

font-size:18px;

color:#cbd5e1;

line-height:1.8;

}

.premiumStatsGrid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.premiumStatCard{

position:relative;

padding:45px 25px;

border-radius:28px;

overflow:hidden;

background:

linear-gradient(
180deg,
rgba(15,23,42,.95),
rgba(8,47,73,.92)
);

border:1px solid rgba(56,189,248,.15);

text-align:center;

transition:.4s;

backdrop-filter:blur(18px);

}

.premiumStatCard:hover{

transform:translateY(-12px);

border-color:#38bdf8;

box-shadow:

0 30px 70px rgba(37,99,235,.30);

}

.statGlow{

position:absolute;

top:-80px;

right:-60px;

width:180px;

height:180px;

background:rgba(56,189,248,.08);

border-radius:50%;

filter:blur(30px);

}

.statIcon{

font-size:52px;

margin-bottom:22px;

}

.premiumStatCard h2{

font-size:48px;

margin:0;

color:#38bdf8;

font-weight:900;

}

.premiumStatCard p{

margin-top:15px;

font-size:17px;

color:#dbeafe;

}

@media(max-width:1100px){

.premiumStatsGrid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:650px){

.sectionTitle h2{

font-size:34px;

}

.premiumStatsGrid{

grid-template-columns:1fr;

}

}