.settingsPage{

padding:40px;

background:#07111d;

min-height:100vh;

color:white;

}



.settingsHero{

padding:40px;

border-radius:25px;

background:linear-gradient(135deg,#10294d,#07111d);

margin-bottom:40px;

}



.settingsHero h1{

font-size:42px;

}



.settingsHero p{

color:#cbd5e1;

line-height:1.8;

}





.settingsGrid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}





.settingsCard{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

padding:30px;

}



.settingsCard h2{

color:#38bdf8;

margin-bottom:25px;

}





.settingItem,

.switchItem{

display:flex;

justify-content:space-between;

align-items:center;

gap:20px;

padding:20px 0;

border-bottom:1px solid rgba(255,255,255,.08);

}



.settingItem p{

color:#cbd5e1;

}



.settingItem a,

.settingItem button{

background:#2563eb;

padding:12px 20px;

border-radius:10px;

color:white;

text-decoration:none;

border:none;

cursor:pointer;

}





.switchItem button{

background:#334155;

border:none;

padding:10px 20px;

border-radius:20px;

color:white;

cursor:pointer;

}



.activeSwitch{

background:#2563eb !important;

}





.securityButtons{

display:flex;

flex-direction:column;

gap:15px;

}



.securityButtons button{

padding:15px;

border-radius:12px;

border:none;

background:#2563eb;

color:white;

cursor:pointer;

}



.securityButtons .danger{

background:#dc2626;

}





@media(max-width:900px){

.settingsGrid{

grid-template-columns:1fr;

}

}